div(ui-view='menu')
.container.mt-4.mb-4.p-4
  div(ng-if='!vm.peliculas')
    | No se han añadido películas a favoritos
  .row(ng-if='vm.peliculas')
    .col-4(ng-repeat='pelicula in vm.peliculas')
      .card
        a(ui-sref='detalle({ id: pelicula.imdbID })')
          img.card-img-top.img-fluid(src='{{ pelicula.Poster }}', style='max-width: 350px')
        .card-body.text-center
          h6.card-title {{ pelicula.Title }}
          p.card-text {{ pelicula.Type }} - {{ pelicula.Year }}
          a.btn.btn-dark(ui-sref='detalle({ id: pelicula.imdbID })') Ver película
